.main {
    width: 100%;
    display: flex;
    margin: 5px 0px;
    margin-left: 40em;
}
.main div {
   border: 2px solid black;
   padding: 0.5em;
   margin-left: 20px; 
   box-shadow: -5px 3px 5px gray;
   cursor: pointer;
} 
#h {
    margin-left: 200px; 
}
.main div:hover {
    background-color: aqua;
    box-shadow: -5px 3px 5px gray;
} 